header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(../m1.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
.form1{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	
}